---
import { cn } from "@/libs/tailwind";

const CURRENT_YEAR = new Date().getFullYear();
---

<div class={cn("w-full", "text-center", "sm:text-left")}>
  <h2
    class={cn(
      "font-bebas font-bold uppercase !leading-none",
      "text-6xl",
      "sm:text-7xl",
    )}>
    Frustration Magazine
  </h2>
  <h4 class={cn("font-bakbak !leading-none uppercase text-xl")}>
    Le média de la lutte des classes
  </h4>
  <p class="font-open-sans text-sm mt-2">
    © Frustration Magazine – {CURRENT_YEAR}
  </p>
</div>
