---
import { cn } from "@/utils/tailwind";
import { LuMessagesSquare } from "react-icons/lu";

const sizes = "m-auto mt-14 px-4 md:px-5 py-2 md:py-3 gap-3";
const text = "font-bebas text-2xl sm:text-3xl leading-none text-black";
---

<a
  href="/entretiens"
  class={cn(
    text,
    sizes,
    "flex w-fit items-center  bg-white transition-transform hover:scale-110",
  )}>
  <LuMessagesSquare />
  <span class="relative top-0.5"><slot /></span>
</a>
