---
import { cn } from "@libs/tailwind";

import Titles from "./components/Titles.astro";
import Newsletter from "./components/Newsletter.astro";
import SocialNetworks from "./components/SocialNetworks.astro";
import MoreLinks from "./components/MoreLinks.astro";
---

<footer class="bg-yellow-with-tiles pt-10">
  <div class={cn("mx-auto max-w-[1700px] space-y-8", "px-6 py-12")}>
    <Titles />
    <div class="grid gap-8 md:grid-cols-[repeat(auto-fit,minmax(350px,1fr))]">
      <Newsletter />
      <SocialNetworks />
    </div>
  </div>
  <MoreLinks />
</footer>
