---
import NosDernieresVideosSlider from "./NosDernieresVideosSlider.astro";
import SectionTitle from "../Title.astro";
import Section from "../SectionTitle.astro";
---

<Section>
  <SectionTitle position="left">Dernières vidéos</SectionTitle>
  <NosDernieresVideosSlider />
</Section>
