---
import NosDernieresVideosSlider from "./NosDernieresVideosSlider.astro";
import H2 from "../H2.astro";
import SECTION from "../SECTION.astro";
---

<SECTION>
  <H2 position="left">Dernières vidéos</H2>
  <NosDernieresVideosSlider />
</SECTION>
