---
import { Image } from "astro:assets";
import { createVideoYoutubeUrl } from "@web/libs/data-access/youtube";
const { id, thumbnailUrl } = Astro.props;
const youtubeUrl = createVideoYoutubeUrl(id);
---

<li
  class="splide__slide"
  data-id={id}
  data-splide-youtube={youtubeUrl}>
  <Image
    src={thumbnailUrl}
    alt=""
    width="1280"
    height="720"
  />
</li>
