---
import { Image } from "astro:assets";
const { id, thumbnailUrl } = Astro.props;
---

<li
  class="splide__slide"
  data-id={id}
  data-splide-youtube={`https://www.youtube.com/watch?v=${id}`}>
  <Image
    src={thumbnailUrl}
    alt=""
    width="1280"
    height="720"
  />
</li>
