---
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
---

<BaseLayout title="Mentions légales">
  <PageLayout>
    <h2 class="font-bakbak text-center text-6xl font-bold mb-8">
      Politique de confidentialité
    </h2>

    <div class="flex flex-col gap-10">
      <div>
        <h3 class="font-bakbak text-4xl font-bold mb-1">Qui sommes-nous ?</h3>
        <p>
          L’adresse de notre site est : <a
            class="text-blue underline"
            href="/"
            >https://www.frustrationmagazine.fr</a
          >. Vous pouvez retrouver toutes les informations relatives au
          responsable légal et à l’hébergeur du site sur <a
            href="mentions-legales">notre page Mentions légales</a
          >.
        </p>
      </div>

      <div>
        <h3 class="font-bakbak text-4xl font-bold mb-1">
          Contenu embarqué depuis d’autres sites
        </h3>
        <p>
          Les articles de ce site peuvent inclure des contenus intégrés (par
          exemple des vidéos, images, articles…). Le contenu intégré depuis
          d’autres sites se comporte de la même manière que si le visiteur se
          rendait sur cet autre site.
        </p>
        <br />
        <p>
          Ces sites web pourraient collecter des données sur vous, utiliser des
          cookies, embarquer des outils de suivis tiers, suivre vos interactions
          avec ces contenus embarqués si vous disposez d’un compte connecté sur
          leur site web.
        </p>
      </div>

      <div>
        <h3 class="font-bakbak text-4xl font-bold mb-1">
          Les droits que vous avez sur vos données
        </h3>
        <p>
          Si vous êtes abonné ou que vous avez déjà effectué un achat via notre
          site, vous pouvez demander à recevoir un fichier contenant toutes les
          données personnelles que nous possédons à votre sujet, incluant celles
          que vous nous avez fournies. Vous pouvez également demander la
          suppression des données personnelles vous concernant. Cela ne prend
          pas en compte les données stockées à des fins administratives, légales
          ou pour des raisons de sécurité.
        </p>
      </div>
    </div>

    <small class="block mt-8">Dernière mise à jour : 28/11/2024</small>
  </PageLayout>
</BaseLayout>
