---
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
import H2 from "@components/H2";
import H3 from "@components/H3";

// Check Matomoto and this wording
/*
Cookie et mesure de fréquentation
Nous vous informons également de la présence d'un cookie
non détruit à la fin de votre consultation. Ce cookie nous
permet d'affiner l'analyse de la fréquentation de notre site.
Tous les résultats obtenus sont compilés et anonymes.
Dans tous les cas, vous avez le contrôle de ces cookies.
Vous avez la possibilité de les lire, de les filtrer, de les
refuser et de les détruire dans la configuration de votre
navigateur Internet.
Pour analyser notre trafic, nous utilisons le logiciel Matomo,
recommandé par la CNIL. Nous suivons les
recommandations de la CNIL en terme de respect de la vie
privée. Nous ne sommes donc pas tenus légalement de vous
présenter ces fenêtres affreuses pleines de petites lignes,
sur lesquelles vous devez généralement cliquer
« J'accepte » avant de pouvoir visiter un site internet.
Si vous souhaitez vous opposer au suivi de votre navigation,
vous le pouvez néanmoins en décochant la case suivante :
You may choose to prevent this website from aggregating
and analyzing the actions you take here. Doing so will
protect your privacy, but will also prevent the owner from
learning from your actions and creating a better experience
for you and other users.
V
opt-out.
You are not opted out. Uncheck this box to
*/
---

<PageLayout title="Mentions légales">
  <article slot="content">
    <H2 className="mb-12"> Politique de confidentialité </H2>

    <div class="flex flex-col gap-10">
      <div>
        <H3>Qui sommes-nous ?</H3>
        <p>
          L’adresse de notre site est : <a
            class="text-blue underline"
            href="/"
            >https://www.frustrationmagazine.fr</a
          >. Vous pouvez retrouver toutes les informations relatives au
          responsable légal et à l’hébergeur du site sur <a
            class="text-blue underline"
            href="mentions-legales"
            >notre page Mentions légales</a
          >.
        </p>
      </div>

      <div>
        <H3> Contenu embarqué depuis d’autres sites </H3>
        <p>
          Les articles de ce site peuvent inclure des contenus intégrés (par
          exemple des vidéos, images, articles…). Le contenu intégré depuis
          d’autres sites se comporte de la même manière que si le visiteur se
          rendait sur cet autre site.
        </p>
        <br />
        <p>
          Ces sites web pourraient collecter des données sur vous, utiliser des
          cookies, embarquer des outils de suivis tiers, suivre vos interactions
          avec ces contenus embarqués si vous disposez d’un compte connecté sur
          leur site web.
        </p>
      </div>

      <div>
        <H3> Les droits que vous avez sur vos données </H3>
        <p>
          Si vous êtes abonné ou que vous avez déjà effectué un achat via notre
          site, vous pouvez demander à recevoir un fichier contenant toutes les
          données personnelles que nous possédons à votre sujet, incluant celles
          que vous nous avez fournies. Vous pouvez également demander la
          suppression des données personnelles vous concernant. Cela ne prend
          pas en compte les données stockées à des fins administratives, légales
          ou pour des raisons de sécurité.
        </p>
      </div>
    </div>

    <small class="block mt-8">Dernière mise à jour : 28/11/2024</small>
  </article>
</PageLayout>
