<section
  class="relative my-10 flex h-[275px] w-full overflow-hidden bg-[linear-gradient(90deg,rgba(131,58,180,1)_0%,rgba(253,29,29,1)_50%,rgba(252,176,69,1)100%)] shadow-[inset_0_0_20px_rgba(0,0,0,.5)] md:my-16 lg:my-24 xl:my-32">
  <slot />
</section>
