<div class="wrapper relative z-10 m-auto w-full max-w-[1600px] px-4 md:px-6 lg:px-8 xl:px-10">
  <div class="content flex max-w-[600px] flex-col justify-center text-white">
    <slot />
  </div>
</div>
