---
import { cn } from "@/utils/tailwind";
const sizes = "h-fit w-full max-w-[2200px]";
const paddings = "px-2";
const margins = "m-auto mt-12 md:mt-20 lg:mt-24 xl:mt-28";
---

<section class={cn(sizes, paddings, margins)}>
  <slot />
</section>
