---
import { cn } from "@/utils/tailwind";
const { position = "left" } = Astro.props;

// 🎨 Styles
const text =
  "font-bebas tracking-tighter text-white text-7xl sm:text-9xl md:text-[150px] xl:text-[180px] 2xl:text-[220px]";
const sizes = "pb-1 pt-4 md:mb-10 md:pr-16 xl:mb-24";
const beforeElement =
  "before:absolute before:top-0 before:h-full before:w-screen before:bg-black before:content-['']";
---

<h2
  class={cn(
    "relative px-8 mb-8 w-fit select-none bg-black mix-blend-darken lg:mb-12 lg:pt-8 ",
    text,
    sizes,
    beforeElement,
    {
      "before:translate-x-[-100%]": position === "left",
      "ml-2": position === "left",

      "before:translate-x-[100%]": position === "right",
      "before:right-0": position === "right",
      "ml-auto": position === "right",
    },
  )}>
  <slot />
</h2>
