---
import { cn } from "@/utils/tailwind";
const { position = "left" } = Astro.props;

// 🎨 Styles
const text =
  "font-bakbak tracking-tighter text-white text-6xl sm:text-7xl md:text-8xl xl:text-[132px] 2xl:text-[180px]";
const sizes = "pb-1 pt-4 md:mb-10 md:pr-16 xl:mb-24";
const beforeElement =
  "before:absolute before:top-0 before:h-full before:w-screen before:bg-black before:content-['']";
---

<h2
  class={cn(
    "relative mb-8 w-fit select-none bg-black mix-blend-darken lg:mb-12 lg:pt-8 ",
    text,
    sizes,
    beforeElement,
    {
      "pr-8": position === "left",
      "before:translate-x-[-100%]": position === "left",
      "ml-2": position === "left",

      "pl-8": position === "right",
      "before:translate-x-[100%]": position === "right",
      "before:right-0": position === "right",
      "ml-auto": position === "right",
    },
  )}>
  <slot />
</h2>
