---
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
import Results from "./_components/Results";

const term = searchParams.get("term");

import { searchArticles } from "@/data-access/wordpress";
const { posts: results, pageInfo } = await searchArticles(term);
export const prerender = false;
---

<PageLayout title=`Résultats pour ${term}`>
  <article slot="content">
    <h2 class="font-bakbak text-center text-6xl font-bold mb-8">Résultats</h2>
    <Results
      client:load
      results={results}
      pageInfo={pageInfo}
      term={term}
    />
  </article>
</PageLayout>
