---
// 🔧 Utils
import { cn } from "@/utils/tailwind";

const { title, subtitle, numberOfGifts, price, colorsRange, additionalClass } =
  Astro.props;
---

<aside class={cn("flex flex-col items-center shadow-lg pb-6", additionalClass)}>
  <header class=`w-full text-white text-center px-4 py-2`>
    <h5 class="font-bold text-2xl">{title}</h5>
    <h6 class="text-lg">{subtitle}</h6>
  </header>
  <p class="price my-8 font-open-sans bg-clip-text">
    <span class="text-5xl font-bold">{price}€</span>
    <span>/mois</span>
  </p>
  <p class="mt-6 mb-12 text-5xl">{"🎁".repeat(numberOfGifts)}</p>
  <div class="space-y-8 text-lg mb-10">
    <slot />
  </div>

  <button
    class="mt-auto text-xl w-[80%] bg-clip-text font-montserrat uppercase py-2 px-4 font-bold"
    type="button">
    Choisir
  </button>
</aside>
<style define:vars={{ startColor: colorsRange[0], endColor: colorsRange[1] }}>
  :is(aside header, aside .price, aside button, aside button::before) {
    background-image: linear-gradient(
      45deg,
      var(--startColor),
      var(--endColor) 80%
    );
  }

  aside button::before {
    content: "";
    width: 102%;
    height: 113%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    background-image: linear-gradient(
      45deg,
      var(--startColor),
      var(--endColor) 80%
    );
  }
  aside button::after {
    content: "";
    z-index: -1;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  :is(aside .price, aside button) {
    color: transparent;
    position: relative;
  }
</style>
