---
import { cn } from "@/libs/tailwind";
---

<h1
  class={cn(
    "pb-2 font-bakbak text-balance uppercase break-words leading-[90%]",
    "border-black border-b-[5px] text-[2.3rem] leading-none mb-3",
    "xs:border-b-[5px] xs:text-5xl mb-4",
    "sm:border-b-[5px] sm:text-6xl",
    "md:border-b-[8px] md:text-7xl",
  )}>
  <slot />
</h1>
