---
import { Image } from "astro:assets";
import frustrationLogo from "./logo-frustration.webp";
import Banner from "./banners/BannerSubscriptionsCampagne.astro";

// 🧱 Components
// import { GiHamburgerMenu } from "react-icons/gi";
// import { FaMagnifyingGlass } from "react-icons/fa6";
---

<header class="sticky top-0 z-20">
  <nav
    class="flex items-center bg-black p-1.5 text-yellow md:p-3 lg:px-4 lg:py-3">
    <a
      aria-label="Accueil"
      href="/"
      class="mr-auto w-32 md:w-36 lg:w-48">
      <Image
        src={frustrationLogo}
        width="300"
        alt="Logo de Frustration"
      />
    </a>
    <!-- <div class="flex gap-2 md:gap-3 xl:gap-4">
      <button
        type="button"
        title="Recherche"
        class="w-4 md:w-5 xl:w-6"
        aria-label="Recherche">
        <FaMagnifyingGlass size="100%" />
      </button>
      <button
        type="button"
        title="Menu"
        class="w-4 md:w-5 xl:w-6"
        aria-label="Menu">
        <GiHamburgerMenu size="100%" />
      </button>
    </div> -->
  </nav>
</header>
<Banner />
