---
import { Image } from "astro:assets";
import MagnifyingGlassIcon from "./icons/MagnifyingGlass.astro";
import BarsIcon from "./icons/Bars.astro";
import frustrationLogo from "./img/logo-frustration.webp";
import BannerSubscription from "./banners/BannerSubscriptions.astro";
---

<header class="sticky top-0 z-20">
  <nav class="flex items-center bg-black p-1.5 text-yellow md:p-3 lg:p-4 xl:px-5 xl:py-3">
    <a
      aria-label="Accueil"
      href="/"
      class="mr-auto w-32 md:w-48 lg:w-64">
      <Image
        src={frustrationLogo}
        width="400"
        alt="Logo de Frustration"
      />
    </a>
    <div class="flex gap-2 md:gap-3 lg:gap-4 xl:gap-5">
      <button
        type="button"
        title="Recherche"
        aria-label="Recherche">
        <MagnifyingGlassIcon />
      </button>
      <button
        type="button"
        title="Menu"
        aria-label="Menu">
        <BarsIcon />
      </button>
    </div>
  </nav>
</header>
<BannerSubscription />
