---
import PostHeader from "./components/PostHeader.astro";
import PostSummary from "./components/PostSummary";
import PageLayout from "../PageLayout/PageLayout.astro";
import ScrollWatcher from "./components/ScrollWatcher.astro";
import "./wordpress.css";
import { cn } from "@libs/tailwind";
const { title } = Astro.props;
---

<PageLayout title={title}>
  <ScrollWatcher slot="header" />
  <article slot="content">
    <!-- ðŸ†ŽðŸ–¼ï¸ Header -->
    <PostHeader {...Astro.props} />
    <!-- ðŸ—žï¸ Content -->
    <section class="content">
      <slot name="content" />
    </section>

    <!-- â¬œ Footer -->
  </article>
  <div
    slot="right"
    class={cn(
      "sticky top-[75px] mx-12",
      "hidden",
      "xl:max-w-[300px] xl:block",
      "2xl:max-w-[600px] ",
    )}>
    <PostSummary client:load />
  </div>
</PageLayout>
