---
import Banner2025 from "./assets/banner_2025.webp";
import BannerBackground from "./assets/banner_bg_2025.jpg";
import { Image } from "astro:assets";
const backgroundUrl = `url(${BannerBackground.src})`;
---

<a
  href="abonnements"
  id="banner"
  class="banner-container">
  <Image
    src={Banner2025}
    width="500"
    class="max-h-[15vh] max-w-[80vw] w-auto h-auto m-auto"
    alt="Une bannière pour mener à la page d'abonnement de Frustration"
  />
</a>
<style define:vars={{ backgroundUrl }}>
  .banner-container {
    background-image: var(--backgroundUrl);
    background-repeat: round;
  }
</style>
