---
// 🧱 Components
import SupportingCard from "./_components/SupportingCard.astro";
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
// 💽 Data
const CARDS_DATA = [
  {
    title: "MINI",
    subtitle: "Petit abonnement, grosse confiance",
    price: 5,
    numberOfGifts: 1,
    colorsRange: ["#09009f", "#00ff95"],
  },
  {
    title: "MEDIUM",
    subtitle: "L'art de la synthèse",
    numberOfGifts: 2,
    price: 9,
    colorsRange: ["#c21500", "#ffc500"],
  },
  {
    title: "MAX",
    subtitle: "Un véritable mécène !",
    numberOfGifts: 3,
    price: 15,
    colorsRange: ["#C04848", "#480048"],
  },
];
---

<BaseLayout title="Abonnement">
  <PageLayout>
    <h2
      class="text-6xl lg:text-8xl text-pretty text-center font-bold uppercase font-bebas">
      Frustration a besoin de vous !
    </h2>
    <h3
      class="text-4xl lg:text-6xl text-pretty text-center font-light uppercase font-bebas">
      Faites-nous grandir d'un coup
    </h3>
    <article class="mt-10 font-open-sans tracking-wide text-lg space-y-4">
      <p>
        Frustration est un <b>média d’opinion, engagé et apartisan</b> : financés
        100% par nos lectrices et lecteurs, nous ne percevons ni subventions ni “gros
        dons”. Nous ne touchons aucune recette publicitaire sur nos contenu. Par
        ailleurs, notre média en ligne est<b>
          entièrement gratuit et accessible à toutes et tous</b
        >. Ces conditions nous semblent indispensables pour pouvoir défendre un
        <b>point de vue radical, anticapitaliste, féministe et antiraciste</b>.
        Pour nous, il y a une lutte des classes et nous voulons que <b
          >NOTRE classe</b
        >, la classe laborieuse, la gagne.
      </p>
      <p>
        Actuellement, 1300 personnes donnent chaque mois de 5 à 15€ à notre
        magazine. Grâce à elles et eux nous avons pu établir un budget mensuel
        permettant de <b>financer notre temps de travail</b>, pour 3 équivalents
        temps plein. Nous avons ainsi pu <b
          >lancer le volet vidéo de notre magazine</b
        >. Merci à elles et eux !
      </p>

      <p>
        Ce printemps, nous souhaitons <b>augmenter notre budget</b> et ainsi pouvoir
        financer davantage de travail : des chroniques régulières sur l’écologie,
        le féminisme et les médias, de nouveaux formats vidéos (entretiens, argumentaires,
        éditos…) et des évènements (conférences-débats filmées avec les personnalités
        qui nous inspirent).
      </p>

      <p>
        Pour cela, nous lançons cette campagne <b
          >pour atteindre 1500 abonné.e.s</b
        >, c’est-à-dire 1500 personnes qui, en donnant chaque mois 5, 9 ou 15€
        permettent à tout le monde l’accès à un média 100% gratuit et sans
        publicité, libre de ses convictions et de son ton.
      </p>

      <p>
        Avec votre aide, vos relais, vos mots de soutiens, vos messages sur les
        réseaux sociaux, nous espérons atteindre cet objectif : <b
          >1500 abonnés d’ici la fin de l'année !</b
        >
      </p>
    </article>
    <h3
      class="mt-10 text-4xl lg:text-6xl text-pretty text-center uppercase font-bebas">
      Nos formules de soutien
    </h3>
    <div
      class="relative cards-wrapper left-1/2 -translate-x-1/2 grid grid-cols-1 gap-3 lg:grid-cols-3">
      {CARDS_DATA.map((data) => <SupportingCard {...data} />)}
    </div>
  </PageLayout>
</BaseLayout>
<style>
  .cards-wrapper {
    width: min(95vw, 1300px);
  }
</style>
