---
// 🧱 Components
import SubscriptionCard from "./_components/SubscriptionCard.astro";
import CheckoutFormWrapper from "./_components/CheckoutFormWrapper";
// 🎨 Assets
import { Image } from "astro:assets";
import ParasitesCover from "./_assets/parasites.webp";
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";

// 💽 Data
import { SUBSCRIPTION_CARDS_DATA } from "./_models";
---

<BaseLayout title="Abonnement">
  <PageLayout>
    <!-- 🅰️ Titles -->
    <h2
      class="text-6xl lg:text-8xl text-pretty text-center font-bold uppercase font-bebas">
      Frustration a besoin de vous !
    </h2>
    <h3
      class="text-4xl lg:text-6xl text-pretty text-center font-light uppercase font-bebas">
      Faites-nous grandir d'un coup
    </h3>
    <!-- 🔠 Text -->
    <article class="mt-10 font-open-sans tracking-wide text-lg space-y-4">
      <p>
        Frustration est un <b>média d’opinion, engagé et apartisan</b> : financés
        100% par nos lectrices et lecteurs, nous ne percevons ni subventions ni “gros
        dons”. Nous ne touchons aucune recette publicitaire sur nos contenu. Par
        ailleurs, notre média en ligne est<b>
          entièrement gratuit et accessible à toutes et tous</b
        >. Ces conditions nous semblent indispensables pour pouvoir défendre un
        <b>point de vue radical, anticapitaliste, féministe et antiraciste</b>.
        Pour nous, il y a une lutte des classes et nous voulons que <b
          >NOTRE classe</b
        >, la classe laborieuse, la gagne.
      </p>
      <p>
        Actuellement, 1320 personnes donnent chaque mois de 5 à 15€ à notre
        magazine. Grâce à elles et eux nous avons pu établir un budget mensuel
        permettant de <b>financer notre temps de travail</b>, pour 2 équivalents
        temps plein. Nous avons ainsi pu <b
          >lancer le volet vidéo de notre magazine</b
        >. Merci à elles et eux !
      </p>

      <p>
        Dorénavant, nous souhaitons <b>augmenter notre budget</b> et ainsi pouvoir
        financer davantage de travail : des chroniques régulières sur l’écologie,
        le féminisme et les médias, de nouveaux formats vidéos (entretiens, argumentaires,
        éditos…) et des évènements (conférences-débats filmées avec les personnalités
        qui nous inspirent).
      </p>

      <p>
        Pour cela, nous lançons cette campagne <b
          >pour atteindre 1500 abonné.e.s</b
        >, c’est-à-dire 1500 personnes qui, en donnant chaque mois 5, 9 ou 15€
        permettent à tout le monde l’accès à un média 100% gratuit et sans
        publicité, libre de ses convictions et de son ton.
      </p>

      <p>
        Avec votre aide, vos relais, vos mots de soutiens, vos messages sur les
        réseaux sociaux, nous espérons atteindre cet objectif : <b
          >1500 abonnés d’ici la fin de l'année !</b
        >
      </p>
    </article>
    <h3
      class="mt-10 mb-10 lg:mb-20 text-6xl lg:text-6xl text-pretty text-center uppercase font-bebas">
      Nos formules de soutien
    </h3>
    <!-- 🃏 CARDS -->
    <div
      class="relative cards-wrapper left-1/2 -translate-x-1/2 grid grid-cols-1 gap-6 lg:grid-cols-3">
      <!-- 🤏 MINI -->
      <SubscriptionCard {...SUBSCRIPTION_CARDS_DATA[0]}>
        <ul style={{ listStyleType: "'✊ '" }}>
          <li><b>5</b> autocollants</li>
          <li><b>2</b> affiches inédites</li>
          <li>Accès au <b>groupe Frustration</b></li>
          <li><b>Newsletter</b> régulière</li>
        </ul>
      </SubscriptionCard>
      <!-- 💪 MEDIUM -->
      <SubscriptionCard
        additionalClass="lg:scale-105"
        {...SUBSCRIPTION_CARDS_DATA[1]}>
        <ul style={{ listStyleType: "'✊ '" }}>
          <li><b>5</b> autocollants</li>
          <li><b>2</b> affiches inédites</li>
          <li>Accès au <b>groupe Frustration</b></li>
          <li><b>Newsletter</b> régulière</li>
        </ul>
        <ul style={{ listStyleType: "'🗞️ '" }}>
          <li><b>Numéro papier</b> annuel</li>
        </ul>
      </SubscriptionCard>
      <!-- 💥 MAXI -->
      <SubscriptionCard {...SUBSCRIPTION_CARDS_DATA[2]}>
        <ul style={{ listStyleType: "'✊ '" }}>
          <li><b>5</b> autocollants</li>
          <li><b>2</b> affiches inédites</li>
          <li>Accès au <b>groupe Frustration</b></li>
          <li><b>Newsletter</b> régulière</li>
        </ul>
        <ul style={{ listStyleType: "'🗞️ '" }}>
          <li><b>Numéro papier</b> annuel</li>
        </ul>
        <ul style={{ listStyleType: "'📖 '" }}>
          <li class="mb-4">1 exemplaire de <b><i>Parasites</i></b></li>
          <div class="w-24 mx-auto">
            <Image
              class="drop-shadow-lg"
              width="200"
              height="200"
              src={ParasitesCover}
              alt="Couverture de Parasites"
            />
          </div>
        </ul>
      </SubscriptionCard>
    </div>
    <!-- 📝 💰 FORM 💰 -->
    <div class="mt-12">
      <CheckoutFormWrapper client:load />
    </div>
  </PageLayout>
</BaseLayout>
<style>
  .cards-wrapper {
    width: min(95vw, 1100px);
  }
</style>
