<a
  href=""
  class="button-tous-les-articles relative mx-auto mt-[5vh] block w-fit overflow-hidden rounded-[20px] before:absolute before:h-full before:w-full before:animate-disco before:bg-[conic-gradient(#faf7c2,#fff200,#898106)] before:blur">
  <span class="relative m-1.5 block rounded-[13px] bg-black px-10 pb-3 pt-4 font-bebas text-4xl uppercase text-yellow md:text-5xl"> Tous nos articles</span>
</a>
<style>
  .button-tous-les-articles:before {
    transform: scaleX(10) scaleY(6);
  }
</style>
