---
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
---

<BaseLayout title="Page inexistante">
  <p class="h-[700px] grid place-items-center text-3xl text-center">
    La page que vous recherchez n'existe pas 😭
  </p>
</BaseLayout>
