---
import ArrowButtonIcon from "./ArrowButtonIcon.svg?raw";
---

<div
  class="splide__arrows [&>button>svg]:fill-yellow [&>button>svg]:lg:!h-[50px] [&>button>svg]:lg:!w-[30px] [&>button]:top-[90%] [&>button]:lg:top-[93.5%] [&>button]:lg:!h-[70px] [&>button]:lg:!w-[70px] [&>button]:xl:top-[50%]">
  <button class="splide__arrow splide__arrow--prev !left-12">
    <Fragment set:html={ArrowButtonIcon} />
  </button>
  <button class="splide__arrow splide__arrow--next !right-12">
    <Fragment set:html={ArrowButtonIcon} />
  </button>
</div>
