---
import { Newspaper } from "lucide-react";
---

<div class="m-auto mt-6 flex w-fit items-center gap-2 bg-yellow px-6 py-1 font-bebas text-xl font-bold text-black md:gap-3 md:py-2 md:text-2xl lg:px-8 lg:py-2 lg:text-3xl xl:gap-4 xl:bg-black xl:text-yellow">
  <Newspaper size={26} />
  <span><slot /></span>
</div>
