---
import ArrowButtons from "./ArrowButtons.astro";
import Slide from "./Slide.astro";
const { posts } = Astro.props;
---

<div class="splide splide-main-carrousel bg-transparent h-screen">
  <ArrowButtons />
  <div class="splide__track h-full">
    <ul class="splide__list">
      {posts.map((post: any) => <Slide {...post} />)}
    </ul>
  </div>
</div>
<style is:global>
  .splide-main-carrousel .splide__arrow {
    background: #000;
    width: 3.5em;
    height: 3.5em;
    opacity: 1;
  }
</style>

<script>
  import "./slider";
</script>
